@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-highlight: var(--surface-highlight);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-muted: var(--text-muted);

  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
}

:root {
  --background: #05050a;
  --surface: #0a0a12;
  --surface-highlight: #0f0f1a;

  --primary: #9333ea;
  --primary-dark: #581c87;

  --text-muted: #a1a1aa;

  --success: #10b981;
  --error: #ef4444;
  --warning: #eab308;
  --info: #3b82f6;
}
